<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>employeelogin.jsp</welcome-file>
    <welcome-file>location.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestLocation</display-name>
    <servlet-name>RequestLocation</servlet-name>
    <servlet-class>com.customer.servlet.RequestLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLocation</servlet-name>
    <url-pattern>/RequestLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.customer.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutOrder</display-name>
    <servlet-name>CheckoutOrder</servlet-name>
    <servlet-class>com.customer.servlet.CheckoutOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutOrder</servlet-name>
    <url-pattern>/CheckoutOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartItemDelete</display-name>
    <servlet-name>CartItemDelete</servlet-name>
    <servlet-class>com.customer.servlet.CartItemDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartItemDelete</servlet-name>
    <url-pattern>/CartItemDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderProduct</display-name>
    <servlet-name>OrderProduct</servlet-name>
    <servlet-class>com.customer.servlet.OrderProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProduct</servlet-name>
    <url-pattern>/OrderProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogout</display-name>
    <servlet-name>CustomerLogout</servlet-name>
    <servlet-class>com.customer.servlet.CustomerLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogout</servlet-name>
    <url-pattern>/CustomerLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateOrders</display-name>
    <servlet-name>updateOrders</servlet-name>
    <servlet-class>com.emp.servlet.updateOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateOrders</servlet-name>
    <url-pattern>/updateOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory</display-name>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>com.emp.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
</web-app>